.where-to-start {
  position: absolute;
  width: 1312px;
  height: 338px;
  left: 141px;
  top: 1184px;
}
.where-to-start h1 {
  position: absolute;
  width: 640px;
  height: 50px;
  left: 45px;
  top: 100px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #fafaf9;
}
.where-to-start p {
  position: absolute;
  width: 868px;
  height: 24px;
  left: 45px;
  top: 180px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(239, 237, 232, 0.65);
}

.where-to-start > .videos {
  position: relative;
  width: 304px;
  height: 190px;
  left: 50px;
  top: 270px;

  background: #323443;
  border-radius: 12px;
}
.programs {
  position: relative;
  width: 304px;
  height: 190px;
  left: 400px;
  top: 82px;

  background: #232532;
  border-radius: 12px;
}

.plans {
  position: relative;
  width: 304px;
  height: 190px;
  left: 750px;
  bottom: 106px;

  background: #323443;
  border-radius: 12px;
}

.access {
  position: relative;
  width: 304px;
  height: 190px;
  left: 1100px;
  bottom: 294px;

  background: #4f5261;
  border-radius: 12px;
}

.where-to-start > .videos > img {
  position: absolute;
  left: 87.51%;
  right: 5.1%;
  top: 70%;
}
.programs img {
  position: absolute;
  left: 87.51%;
  right: 5.1%;
  top: 70%;
}

.plans img {
  position: absolute;
  left: 87.51%;
  right: 5.1%;
  top: 70%;
}
.access img {
  position: absolute;
  left: 87.51%;
  right: 5.1%;
  top: 70%;
}
