.adverts {
    position: absolute;
width: 1312px;
height: 1170px;
left: 64px;
top: 1716px;
background-color: blue;
}
.work-from-home {
    position: absolute;
width: 526px;
height: 50px;
left: 141px;
top: 1868px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.3px;
color: #FAFAF9;
}
.underh1-text {
    position: absolute;
width: 480px;
height: 120px;
left: 144px;
top: 1956px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.3px;
color: rgba(239, 237, 232, 0.65);
}