* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: rgb(4, 3, 3);
    color: white;
    justify-content: space-between;
    height: 50px;
    font: 'Inter', 700, ;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: rgb(32, 32, 32);
}
.navbar p {
    position: relative;
    top: 30%;
    left: 20px;
}

